@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

img {
  width: 150px;
  height: 150px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/*Style navbar */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {
  background: #f0f8ea;
  font-family: 'QuickSand',sans-serif;
}

.wrapper {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background: #e54b4b;
  color: #ebebd3;
  position: relative;
  padding: 1em 0;
}

header::after {
  content: "";
  clear: both;
  display: block;
}

.logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.logo span {
  font-weight: 400;
}

.main-nav {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: #464655;
  height: 0;
  overflow: hidden;
}

.main-nav-open {
  height: auto;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav li {
  border-bottom: 1px solid #575766;
}

.main-nav li:last-child {
  border-bottom: none;
}


.main-nav a {
  color: white;
  display: block;
  padding: 1em 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav a:hover,
.main-nav a:focus{
  background: #e4b363;
  color: #464655;
}

.nav-icon {
  display: inline-block;
  font-size: 1.3em;
  margin-right: .5em;
  text-align: center;
  width: 1.1em;
  color: rgba(255,255,255,0.45);
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: 0.5em;
  right: 0.2em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after{
  content: "";
  display: block;
  background: #ebebd3;
  height: 3px;
  width: 1.75em;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg) ;
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: rotate(90deg) translateY(3px);
}

@media only screen and (min-width: 700px){
  .menu-toggle {
    display: none;
  }

  .main-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
  }

  .main-nav li {
    display: inline-block;
    border: none;
  }

  .main-nav a {
    padding: 0;
    margin-left: 2em;
  }

  .main-nav a:hover,.main-nav a:focus {
    background: transparent;
  }

  .nav-icon {
    display: none;
  }
}
#img-league{
  width: 150px;
}
/* Style formulaire */
form {
  border: 1px solid gray;
  width: 320px;
  height: 220px;
  background-color: white;
  border-radius: 10px;
  margin: 50px auto;
}
.form-group {
  padding-top: 50px;
  padding-left: 25px;
}
input#email {
  margin-left: 78px;
  border: 1px solid gray;
  border-radius: 10px;
}
input#password {
  margin-left: 20px;
  border: 1px solid gray;
  border-radius: 10px;
}
button {
  background: white;
  border: 1px solid gray;
  border-radius: 15px;
  width: 150px;
  height: 30px;
  margin: 30px 85px;
  color: black;
  font-weight: 700;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.lien-jeux{
  color: black;
  font-size: 15px;
  font-weight: 200;
  text-decoration: none;
  margin-left: 10px;
  text-align: center;
}
.titre-jeux{
  color: black;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.match{
  width: 700px;
  border:1px solid black;
  background-color: white;
  box-shadow: 10px 5px 5px white;
  margin-top: 15px;
  margin-left: 350px;
}
.title-match{
  text-align: center;
  font-size: 17px;
  font-weight: 900;
}
.vainqueur{
  text-align: center;
  font-size: 17px;
  font-weight: 900;
}
#img-equipe{
  margin-left: 130px;
}
.nom-equipe{
  text-align: center;
  font-weight: 900;
  font-size: 17px;
}
.equipe{
  width: 700px;
  border:1px solid black;
  background-color: white;
  box-shadow: 10px 5px 5px white;
  margin-top: 15px;
  margin-left: 350px;
}
.equipe-donnees {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ligue{
  width: 700px;
  border:1px solid black;
  background-color: white;
  box-shadow: 10px 5px 5px white;
  margin-top: 15px;
  margin-left: 350px;
}
.ligue-donnees {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.match-pari{
  width: 700px;
  border:1px solid black;
  background-color: white;
  box-shadow: 10px 5px 5px white;
  margin-top: 15px;
  margin-left: 350px;
}
.pari-donnees{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.somme-pari{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#input-pari{
  background: white;
  border: 1px solid gray;
  border-radius: 15px;
  width: 150px;
  height: 25px;
}
.btn-verifier{
  background: white;
  border: 1px solid gray;
  border-radius: 15px;
  width: 150px;
  height: 55px;
  margin: 30px 85px;
  color: black;
  font-weight: 700;
}
.ligue-favori{
  display: flex;
  justify-content: space-around;
  align-items: center;
}