# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Chrystelle\Desktop\COURS\LICENCE\DOMAINES SPECIFIQUES DE COMPETENCES\React\KNORR\projet-fin-annee\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
